@import "tailwindcss";

html, body {
  height: 100%;
}

:root {
  /*colors*/
  --color-primary: rgb(55, 133, 29);   
  --color-primary-light: rgb(239, 245, 241);
  --color-primary-dark: rgb(38, 40, 37);
  --color-accent: rgb(241, 105, 53);   
  --color-secondary-light: rgb(244, 215, 209);  
  --color-secondary: rgb(164, 105, 94);

  /*neutrals */ 
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);

  --color-gray-100: rgb(225, 226, 224); 
  --color-gray-300: rgb(140, 143, 138); 

  /*UI colors*/
  --bg-main: var(--color-primary-light);
  --bg-card: var(--color-white);
  --bg-section: var(--color-gray-100);

  --text-main: var(--color-primary-dark);
  --text-muted: var(--color-gray-300);

  /*Font*/
  --font-main: "Inter", system-ui, sans-serif;
  --font-headings: "Poppins", sans-serif;
}

i {
  font-style: normal !important;
}

body {
  font-family: var(--font-main);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
}
